@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#picture{
    width: 350px;
    height: 350px;
    position: relative;
}

#bodyDuck{
    height: 74%;
    z-index: 3;
    position: absolute;
    top: 57%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -57%);
}

#pond{
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 93%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

#background{
    width: 95%;
    height: 95%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    background: #d0f2ff;
    border-radius: 50%;
    overflow: hidden;
}

#eye{
    width: 4%;
    height: 4%;
    z-index: 4;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 31%;
    left: 33%;
    animation-duration: 9s;
    animation-delay: 3s;
    animation-name: duckEye;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

#eye::after{
    content: '';
    width: 60%;
    height: 60%;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    right: 0;
}

#wing{
    position: absolute;
    z-index: 3;
    width: 44%;
    height: auto;
    top: 56%;
    left: 32%;
    margin-right: -50%;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-name: duckWing;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#duck{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
    animation-duration: 15s;
    animation-name: duckSwims;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sky{
    position: absolute;
    top: 0;
    animation-duration: 20s;
    animation-name: moveSky;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#text{
    font-family: 'Fredoka One', cursive;
    position: absolute;
    top: 23%;
    z-index: 5;
    right: 25%;
    font-size: 133%;
    color: #1c1c1c;
    animation-duration: 20s;
    animation-name: textShowUp;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, end);
    transform: rotate(9deg);
}

@keyframes duckSwims {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }


@keyframes duckWing {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(4deg);
    }
    10% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(-4deg);
    }
    20% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes duckEye {
    0% {
        transform: rotate(0deg);
    }
    15% {
        top: 31.5%;
        transform: rotate(4deg);
        left: 35%;
    }
    30% {
        transform: rotate(0deg);
    }
    45% {
        
        transform: rotate(-4deg);
    }
    80% {
        top: 31%;
        left: 33%;
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


@keyframes moveSky {
    0% {
        left: -500px;
        
    }
    100% {
        left: 400px;
    }
}

@keyframes textShowUp {
    0% {
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}